/* やること
フォント変更 */

*{
  padding: 0;
  margin: 0;
}

html{
  font-size: 62.5%;
}

h1{
  color: #fff;
  font-size: 3rem;
  text-align: center;
  padding-top: 10px;
}

h2{
  font-size: 2.8rem;
  text-align: center;
}

h3{
  font-size: 2rem;
}

h4{
  font-size: 1.3rem;
}

p{
  font-size: 1.5rem;
}

header{
  background-color: #000;
  position: fixed;
  width: 100%;
  height: 60px;
}

#wrap{
  margin: 0 auto;
  width: 80%;
}

.new{
  padding-top: 100px;
  /* width: 90%; */
  margin: auto;
}

.flex_new{
  display: flex;
}

.newitem{
  margin: 10px;
  text-align: center;
}

.newitem:hover{
  background-color: #666;
  color: #fff;
}

.newitem img{
  width: 90%;
}

main{
  display: flex;
  margin-top: 100px;
}

.product{
  flex-basis: 80%;
}

.product h3{
  margin-left: 10%;
}

.flex_product{
  display: flex;
  flex-flow:wrap;
}

.box{
  width: 34%;
  margin: 8%;
  text-align: center;
}

.box:hover{
  background-color: #666;
  color: #fff;
}

.box img{
  width: 100%;
}

.side{
  flex-basis: 20%;
  margin-top: 12px;
}

.side h3{
  text-align: center;
}

.recommended{
  width: 100%;
  margin: 10% auto;
  text-align: center;
}

.pic_recommended{
  width: 10vw;
}

.recommended:hover{
  background-color: #666;
  color: #fff;
}

footer{
  text-align: right;
  margin-top: 40px;
  padding-top: 50px;
  background-color: #000;
  color: #fff;
}

.copyright{
  text-align: center;
}